# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Venv
venv/

# VsCode
.vs/

#logs
.log

#cmd
.cmd

__pycache__/TLM_Extractor_functions.cpython-37.pyc
TLMData/TLMSimpleFeatures.gpkg
TLMData/TLMSimpleFeatures.qmd
PowerlineTool/django.log
PowerlineTool/db.sqlite3
